@charset "UTF-8";

.container-fluid{background:#fffbf2; padding:0; min-width: 1200px;
				font-family: "나눔고딕"; font-size:20px}
	
#honey_title{background:#f9ae98;
		width: 50%; height:50px;
		margin-left:25%;
		margin-top:80px;
		margin-block-end:0;
		text-align:center;
		text-decoration:none;
		font-size:25px; font-weight:700;
		line-height:50px; border-radius:5px;}	

	
#loud_speaker:focus, #loud_speaker:active {
    outline: none;
    box-shadow: none; 
}

#search_receipe2:focus, #search_receipe2:active {
    outline: none;
    box-shadow: none; 
}
	

#notice_recent {
	width: 40%;
	margin-left: 30%;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
	background: white;
}

#loud_speaker {
            background: url(../image/'food.png') no-repeat left center;
            background-size:30px 30px;
            padding-left: 55px; 
            padding-right: 70px; 
            background-position: 10px center;
            height: 40px; 
        }

#search_receipe {
	width: 40%;
	margin-left: 30%;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	background: white;
}


#honey_write_div{width:120px;
			margin-top:40px;
			margin-bottom: 15px;
			margin-left:78%;}
			
			
#honey_write_button{width:120px;   
					border-radius:10px;}
					
#honey_write_button:hover {
	font-weight: bold;
	background-color: #a5250a;
}

#honey_table_div{background:white;
				width: 70%;
				margin-left:15%;			
				padding: 20px;			
				border: 1px solid lightgray;
				border-radius:10px;
				
				font-weight:100;}
				
#honey_table_div:hover{cursor: pointer;}				
				
	
				
.pagination-sm .page-link {background: none;
							border: none;
							color:black;}


[id*="button"]{background:#f24822; color:white; border:none; 
				height:40px;
				text-decoration:none; 
				font-size:20px
				}
#search_button{width:80px;}

#search_button:hover {
	font-weight: bold;
	background-color: #a5250a;
}


#go_top_button{background:#f24822; color:white;
				width:50px; height:60px;
				position:fixed;
				left:93%;
				top:83%;
				margin-top:30px;
				font-size:15px; text-decoration:none;
				border:none; border-radius:15px;}


