<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="randomChoice" resultType="RandomRecipe">
		select board_no, board.title, image.image_no, recipe.recipe_no, image.image_URL, image.image_name
		from board
			join recipe using(board_no)
			join image on(recipe.recipe_no=image.recipe_no)	
		where board.board_genre = '레시피'
			and board.status = 'Y'
			and image.title_img = 0
			<if test="!nation.isEmpty()">
				and recipe.nation in 
				<foreach item="item" collection="nation" open="(" separator="," close=")" >
					#{item}
				</foreach>
			</if>
			<if test="!difficulty.isEmpty()">
				and recipe.difficulty in
				<foreach item="item" collection="difficulty" open="(" separator="," close=")">
					#{item}
				</foreach>	
			</if>
	</select>
	
	<insert id="insertReply" useGeneratedKeys="true">
		<selectKey resultType="_int" keyProperty="replyNo" order="BEFORE">
			select seq_reply.nextval from dual  		
		</selectKey>	
		insert into reply
		values(#{replyNo}, #{writer}, #{boardNo}, #{content}, sysdate, sysdate, default)	
	</insert>

	<update id="deleteReply">
		update reply
		set status = 'N'
		where reply_no = #{replyNo}	
	</update>
	
	
	<update id="updateReply" useGeneratedKeys="true">	
		update reply
		set content = #{content}
		where reply_no = #{replyNo}	
	</update>
	
	







</mapper>
