@charset "UTF-8";

#footer{
	border-top: 2px solid rgb(144, 144, 144); background: #B3B3B3;
	text-align: center;
	min-width: 1200px;
}
.font{color: #000000; margin-bottom: 3px;}
#footer_inner{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 108px;
}