@charset "UTF-8";

#container{
	min-width: 1200px;
	width: 100%;
	font-size: 20px;
	min-height: 814.5px;
}
#login_bar{
	min-width:783px;
	background:#f9ae98; width: 50%; height:50px; margin-left:25%;
  	text-align: center; text-decoration: none; font-size: 25px;
  	font-weight: bold; margin-top: 80px; line-height: 50px; border-radius: 5px;
	
}

#id_join_find{
	width: 55%;
	margin: auto auto;
	padding: 0 120px;
}
#id_join_find_box{
	min-width: 570px;
	padding-top: 40px;
	background: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	
}
#login{
	margin: 0px auto 0px;
	width: 400px;
	height: 250px;
	border-radius: 10px;
	background: none;
}
#login_form{
	height: 100%;
}
#login_box{
	margin-bottom: 50px;
	height: 120px;
}
#login_id{
	background: white;
	border-bottom: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
#login_pwd{
	background: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.login_content_name{
	width: 100%;
	height: 60px;
	text-align: center;
	padding-left: 10px;
	padding-right: 4px;
	border: 1px solid lightgray;
}
.login_content{
	width: 100%;
	height: 100%;
	font-size: 20px;
	margin-top: 0px;
	padding-top: 5px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}
#login_box input:focus{
	outline: none;
}
#login_check{
	width: 400px;
	height: 40px;
	margin-bottom: 13%;
}
#login_check>button{
	width: 100%;
	height: 100%;
	background: #F24822;
	cursor: pointer;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
}


#find_join{
	margin: 0px 50px 5px;
	height: 100px;
	text-align: center;
}

#find_join_box{
	padding-top: 10px;
}

.find_join_in{
	display:inline-block;
	padding-top: 5px;
	height: 60px;
}
#join_user{
	margin: 0px auto;
	width: 150px;
}
#find_idpw{
	width:190px;
}

.button_find_join{
	color: white; text-decoration: none;
	margin-right: 30px;
	width: 100%;
	height: 100%;
	border: none;
}
.button_find_join:active{
	border: none;
}

#join_user_link, #find_idpw_link{
	color: black;
	background: #E6E6E6;
}

.font_text{
	padding-top: 8px;
}
