@charset "UTF-8";
#wrap{
	position: relative; height: 100%;
}
#header{
	min-width: 1250px;
	background: #FFFBF2; 
	height: 100px; width: 100%; 
	position: fixed; 
	top: 0px; left: 0px; right: 0px;
}
.header_common{margin-top: 20px;}
#header_user{margin-right: 20px; float: right;}
#user_login_complete{border: 4px solid #FFFBF2; background: #FFFBF2; color: black;}
#header_user>div:hover, #header_user button:hover, #header_user label:hover{cursor: pointer;}
.header_common #user_login_complete{margin-top: 8px;}
#mypage_list{border: 0px; background: #FFFBF2; color: #FFC7C2; font-size: 17px; margin-top: 2px;}

#user_login_complete{border: 4px solid #FFFBF2; background: #FFFBF2; color: black;}
#header_user>div:hover, #header_user button:hover, #header_user label:hover{cursor: pointer;}
#header_user_noUser{margin-top: 13px;}
.header_common #user_login_complete{margin-top: 8px;}
#mypage_list{border: 0px; background: #FFFBF2; color: #FFC7C2; font-size: 17px; margin-top: 2px;}
#mypage_Menu{
	display: none;
	width: 200px; height: 150px;
	background-color: white;
	border: 1px solid lightgray;
}
#mypage_Menu li {margin-bottom: 20px;}

#user_login_complete{border: 4px solid #FFFBF2; background: #FFFBF2; color: black;}
#mypage_list{border: 0px; background: #FFFBF2; color: #FFC7C2; font-size: 17px; margin-top: 2px;}
.mainDiv{text-align: center; padding-top: 30px;}

#container{
	min-width: 1200px;
	width: 100%;
	margin-top: 10%;
}

#bar{
	color: white;
	padding: 10px 40px 10px 40px;
	width: 70%;
	height: 250px;
	text-align: center;
	background: #F24822;
	border-radius: 15px; 
}


#main{
	margin: 0px auto 3%;
	height: 100px;
	text-align: center;
}

#main_box{
	padding-top: 10px;
	padding-left: 20px;
}

.find_join_in{
	display:inline-block;
	padding-top: 5px;
	height: 60px;
}
#login{
	margin: 0px auto;
	width: 150px;
}


#recipy{
	margin: 0px auto;
	width: 150px;
}
#honey{
	margin: 0px auto;
	width: 150px;
}
#menu{
	margin: 0px auto;
	width: 150px;
}
#join_user{
	margin: 0px auto;
	width: 150px;
}
.button_find_join{
	color: white; text-decoration: none;
	margin-right: 30px;
	width: 100%;
	height: 100%;
	border: none;
}
.button_find_join:active{
	border: none;
}

#recipy_link{
	color: white;
	background: #F24822;
}
#honey_link{
	color: white;
	background: #F24822;
}
#menu_link{
	color: white;
	background: #F24822;
}

.font_text{
	padding-top: 8px;
}
.fo_text{
	padding-top: 28px;
	font-size: 90px;
}

#footer{
	border-top: 2px solid rgb(144, 144, 144); background: #B3B3B3;
	text-align: center;
	min-width: 1200px;
}
.font{color: #000000; margin-bottom: 3px;}
#footer_inner{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 108px;
}
