<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.project.aloneBab.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.project.aloneBab.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.project.aloneBab.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.project.aloneBab.board.model.vo.RandomRecipe" alias="RandomRecipe"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
</configuration>
