@charset "UTF-8";
body{
	background: #FFFBF2;
}
#wrap{
	height: 100%; 
	min-height: 814.5px;
}

#container{
	min-width: 1200px;
	width: 100%;
	margin: 0 auto 70px;
	font-size: 20px;
}

#login_bar{
	background:#f9ae98; width: 50%; height:50px; margin-left:25%;
  	margin-block-end:0; text-align: center; text-decoration: none; font-size: 25px;
  	font-weight: bold; margin-top: 80px; line-height: 50px; border-radius: 5px;
}

#board_table_div{
	background:white;
	width: 70%;
	margin-left:15%;		
	padding: 20px;			
	border: 1px solid lightgray;
	border-radius:15px;
	font-weight:100;
	min-width: 1000px;
}

.container-fluid{
	background:#fffbf2; padding-bottom: 15%; 
	min-width: 1200px;
	font-family: "나눔고딕"; 
	font-size:20px;
}

#board_title{
	background:#f9ae98;
	width: 50%; height:50px;
	margin-left:25%;
	margin-block-end:0;
	text-align: center;
	text-decoration:none;
	font-size:35px;
}
					
.table_hover{
	cursor: pointer;
}

th{
	font-weight: 550;
}

tbody>tr[class="hoverOut"]:hover{
	cursor: default;
	background: none;
}

tr>td[class="board_num"]{
	text-align: center;
}
	
.pagination-sm .page-link {
	background: none;
	border: none;
	color:black;
}


[id*="button"]{
	background:#f24822; 
	color:white; 
	border:none; 
	height:40px;
	text-decoration:none; 
	font-size:20px;
}

#search_button{width:80px;}
