@charset "UTF-8";

.container-fluid{background:#fffbf2; padding-bottom: 15%; min-width: 1200px;
					font-family: "나눔고딕"; font-size:20px}

#notice_title{background:#f9ae98;
		width: 50%; height:50px;
		margin-left:25%;
		margin-block-end:0; 
		text-align: center;
		text-decoration:none;;
		font-size:35px}

		
#write_title{width: 70%;
				margin-left:15%;
				height:60px;}
#notic_write_title_{width:140px; text-align: center; font-size:20px; font-weight:550; }
#notic_write_title{margin:0; 
					padding-top:7px;
					font-size:20px; font-weight:100;}

	
#notic_write_text{background:white;
					width: 70%;
					margin-left:15%;
					padding : 40px;
					min-height: 500px;
					border: 1px solid lightgray; border-radius:15px; 
					font-size:20px; 
					}

	
[id*="button"]{background:#f24822; color:white; border:none; 
				width:80px;
				height:40px;
				border-radius:6px;
				text-decoration:none; 
				font-size:20px
				}		
					

#footer{background: lightgray;  
		min-width: 1200px;
		width: 100%; 
		min-height:60px; max-height:60px;}

