<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<select id="noticeListCount" resultType="_int">
		select count(*)
		from board
		where board_genre = '공지'
			and status = 'Y'
		<if test = "key != null">
			and title like '%' || #{key} || '%'		
		</if>				
	</select>
		
	<select id="noticeList" resultType="Notice">
		select * 
		from board
		where board_genre = '공지'
			and status = 'Y'	
		order by board_no desc
	</select>
	
	<select id="noticeSelect" resultType="Notice">
		select * 
		from board
		where board_genre = '공지'
			and status = 'Y'
			and board_no = #{boardNo}	
	</select>
	
	<select id="noticeListMin" resultType="Notice">
		select * 
		from (select *
			from board
			where board_genre = '공지'
				and status = 'Y'
				and board_no <![CDATA[<]]> #{boardNo}
			order by board_no desc)
		where rownum <![CDATA[<=]]> 3
	
	</select>
	
	<insert id="noticeWrite">
		insert into board
		values(seq_board.nextval, '공지', #{writer}, #{title}, #{content}, sysdate, sysdate, default, default)	
	</insert>
	
	<update id="noticeUpdate">
		update board 
		set title=#{title}, content=#{content}, update_date=sysdate
		where board_no = #{boardNo}	
	</update>
	
	<update id="noticeDelete">
		update board 
		set status='N'
		where board_no = #{boardNo}		
	</update>
	

	<select id="noticeSearchList" resultType="Notice">
		select * 
		from board
		where board_genre = '공지'
			and status = 'Y'	
			and title like '%' || #{key} || '%'
		order by board_no desc
	</select>
	
	
	
	<select id = "noticeCommon" resultType="Notice">	
		select * 
		from board
		where board_no = (select max(board_no) 
				from board 
				where board_genre = '공지'
					and status = 'Y')
	
	</select>
	
	<update id="countUpdate">
		update board 
		set board_count = #{boardCount}
		where board_no = #{boardNo}		
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>
