@charset "UTF-8";

#container{
	min-width: 1200px;
	width: 100%;
	font-size: 20px;
}
#login_bar{
	background:#f9ae98; width: 50%; height:50px; margin-left:25%;
  	text-align: center; text-decoration: none; font-size: 25px;
  	font-weight: bold; margin-top: 80px; line-height: 50px; border-radius: 5px;
}

#find_block{
	margin: 0px auto;
	width: 800px;
	height: 400px;	
}

#find_idpw_box, #find_info{
	margin: 0 8%;
}
#find_idpw_box{
	text-align: left;
	padding-top: 2%;
	height: 65px;
}
.find_select{
	display: inline-block;
	height: 90%;
	margin-top: 9px;
	padding-top: 3px;
	border-bottom: 1px solid white;
}
.find_select>a:active{
	border: none;
}

#find_id{
	width: 30%;
	background: rgb(212, 212, 212);
	border-top-left-radius: 10px;
	border: 1px solid lightgray;
	border-bottom: none;
	border-right: 1px solid lightgray;
}
#find_pw{
	width: 35%;
	background: white;
	border: 1px solid lightgray;
	border-top-right-radius: 10px;
}

#find_id_select, #find_pw_select{
	color: black; text-decoration: none;
	width: 100%; height: 100%;
}

.font_text{
	padding-bottom: 3px;
}

#find_info{
	height: 380px;
	margin-top: 4px;
	padding-top: 5%;
	background: white;
	border: 1px solid lightgray;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#find{
	width: 100%;
	border-radius: 10px;
	background: none;
}
#table_box{
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid lightgray;
}
#find_box{
	margin: 0 73px;
	height: 200px;
	padding-top: 20px;
	padding-bottom: 5px;
}

#find_table{
	width: 530px;
	height: 180px;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid lightgray;
	border-spacing: 0px;
}
#find_table>tr{
	border-collapse: separate;
	border-radius: 10px;
}

tr[class="table_label_box"]>td[class="table_label"]{
	border-bottom: 1px solid lightgray;
}
tr>td[class="table_label"]{
	border-right: 1px solid lightgray;
}


.table_label{
	text-align: center;
	font-weight: bold;
}

#find_name{
	background: white;
	border-bottom: 1px solid lightgray;
	border-top-right-radius: 10px;
}
#find_phone{
	background: white;
	border-bottom: 1px solid lightgray;
}
#find_myId{
	background: white;
	border-bottom-right-radius: 10px;
}

.find_content{
	width: 99%;
	height: 100%;
	font-size: 20px;
	margin-top: 0px;
	padding-top: 5px;
	padding-left: 5px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}
#find_box input:focus{
	outline: none;
}

#find_alert{
	margin: 0 73px;
	height: 50px;
}
#find_check{
	height: 40px;
	margin: 0 10% 7%;
}
#find_check>button{
	width: 100%;
	height: 100%;
	background: #E6E6E6;
	cursor: pointer;
	border: none;
	color: black;
	font: 20px bold;
	border-radius: 10px;
}
