@charset "UTF-8";
#wrap{
	position: relative; height: 100%;
}
#header{
	min-width: 1250px;
	background: #F24822; 
	height: 100px; width: 100%; 
	position: fixed; 
	top: 0px; left: 0px; right: 0px;
}
.button{color: white; text-decoration: none; font-size: 40px;
margin-right: 30px;}
.button:hover{font-weight: bold;}
.button_user{color: white; text-decoration: none; font-size: 30px;}

.header_common{margin-top: 20px;}
#header_menu{margin-left:10px; float: left;}
#header_user{margin-right: 20px; float: right;}

#user_login_complete{border: 4px solid #FFFBF2; background: #FFFBF2; color: black;}
#header_user>div:hover, #header_user button:hover, #header_user label:hover{cursor: pointer;}
#header_user_noUser{margin-top: 13px;}
.header_common #user_login_complete{margin-top: 8px;}
#mypage_list{border: 0px; background: #FFFBF2; color: #FFC7C2; font-size: 17px; margin-top: 2px;}

#container{
	min-width: 1200px;
	width: 100%;
	margin-top: 10%;
}
#login_bar{
	padding: 10px 40px 10px 40px;
	width: 50%;
	height: 50px;
	text-align: center;
	background: #FFB3A2;
	border-radius: 15px; /* 꼭짓점 둥글게 할지 말지 고르기 */
}


#find_block{
	margin: 0px auto;
	width: 600px;
	height: 300px;
}

#find_idpw_box, #find_info{
	margin: 0 18%;
}
#find_idpw_box{
	text-align: left;
	padding-top: 2%;
	height: 20%;
}
.find_select{
	display: inline-block;
	height: 90%;
	margin-top: 9px;
	padding-top: 3px;
	border-bottom: 1px solid #FF7050;
}
.find_select>a:active{
	border: none;
}
#find_id{
	width: 30%;
	background: #CD9285;
	border-top-left-radius: 15px;
	border-right: 1px solid #FF7050;
}
#find_pw{
	width: 35%;
	background: #FF9D87;
	border-top-right-radius: 15px;
}

#find_id_select, #find_pw_select{
	color: black; text-decoration: none;
	width: 100%; height: 100%;
}

.font_text{
	padding-bottom: 3px;
}

#find_info{
	height:80%;
	margin-top: 4px;
	padding-top: 5%;
	background: #FF9D87;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#find{
	width: 100%;
	height: 180px;
	border-radius: 6px;
	background: none;
}
#find_box{
	margin: 0 10% 4%;
}
#find_name{
	background: white;
	border-bottom: 1px solid lightgray;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
#find_phone{
	background: white;
}
#find_myId{
	background: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.find_content_box{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-left: 10px;
	padding-right: 4px;
	border: 1px solid lightgray;
}
.find_content{
	width: 100%;
	height: 33px;
	font-size: 20px;
	margin-top: 0px;
	padding-top: 5px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}
#find_box input:focus{
	outline: none;
}
#find_check{
	height: 20%;
	margin: 0 10% 7%;
}
#find_check>button{
	width: 100%;
	height: 100%;
	background: #E6E6E6;
	cursor: pointer;
	border: none;
	color: black;
	font: 20px bold;
	border-radius: 10px;
}

#footer{
	border-top: 2px solid rgb(144, 144, 144); background: #B3B3B3;
	text-align: center;
	min-width: 1200px;
}
.font{color: #000000; margin-bottom: 3px;}
#footer_inner{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 108px;
}
