<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipe-mapper">
	
	
	
<!-- 일반 조회, 메인화면 -->	
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y' and board_genre = #{i}
	</select>
	
	<select id="getDivideCount" resultType="_int">
		select count(*)
		from board
			join recipe using(board_no)
		where status = 'Y'
		<if test="nation != 'all'">
			and nation = #{nation}
		</if>
		<if test="difficulty != 'all'">
			and difficulty = #{difficulty}
		</if>
		<if test="searchWord != null">
			and title like '%'||#{searchWord}||'%'
		</if>
	</select>
	
	<select id="selectBoardList" resultType="Board">
		select *
		from board
			join member on(writer = id)
		where board.status = 'Y' and board_genre = #{i}
		order by board_no desc
	</select>
	
	<select id="selectDivideBoardList" resultType="Board">
		select *
		from board
			join recipe using(board_no)
		where status = 'Y' and board_genre = '레시피'
		<if test="nation != 'all'">
			and nation = #{nation}
		</if>
		<if test="difficulty != 'all'">
			and difficulty = #{difficulty}
		</if>
		<if test="searchWord != null">
			and title like '%'||#{searchWord}||'%'
		</if>
	</select>
	
	
	<select id="selectRecommendBoardList" resultType="Board">
		select *
		from board
			join recipe using(board_no)
		where nation = #{nation} and status = 'Y'
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<!-- 상세조회 + 메인화면 구분 없을때 -->	
	<select id="selectRecipeList" resultType="Recipe">
		select *
		from recipe
		<if test="bId != null">     <!-- 나중에 상세 조회때 써먹으려고 -->
			where board_no = #{bId}
		</if>
		<!-- <if test="bId == null">  전체 리스트 조회 - 목록에 띄울거 : 사진, 요리명
			and recipe                    ㄴ null 이면 다 가져와도 됨
		</if> -->
		order by recipe_no
	</select>
	
	<select id="selectImageList" resultType="Image">
		select *
		from image
		<if test="rId != null">
			where recipe_no = #{rId} 
		</if>
		<if test="rId == null">
			where title_img = 0
		</if><!-- 썸네일 가져오기 -->
	</select>
	
	<select id="selectBoard" resultType="Board">
		select *
		from board
			join member on(writer = id)
		where board.status = 'Y' and board_no = #{bId}
	</select>
	
	<update id="updateCount">
		update board
		set board_count = board_count + 1
		where board_no = #{bId}
	</update>
	
	<update id="updateBoard">
		update board
		set title = #{title}, content = #{content}
		where board_no = #{boardNo}
	</update>
	
	<update id="updateRecipe">
		update recipe
		set intro = #{intro}, nation = #{nation}, difficulty = #{difficulty}, ingredients = #{ingredients}
		where board_no = #{boardNo}
	</update>
	
	<!-- <update id="editRecipe">
		update recipe
		set 
	</update> -->
	
	<insert id="insertBoard">
		insert into board
		values(seq_board.nextval, #{boardGenre}, #{writer}, #{title}, #{content}, default,default,default,default)
	</insert>
	
	<insert id="insertRecipe">
		insert into recipe
			values(seq_recipe.nextval,seq_board.currval, #{intro}, #{nation}, #{difficulty}, #{ingredients})
	</insert>
	
	<!--
	 create or replace NONEDITIONABLE function new_iid
	return number 
	is
	    new_iid number;
	begin
	    select seq_image.nextval
	    into new_iid
	    from dual;
	
	    return new_iid;
	end;
	이거 이지미 오라클에 시퀀스 seq_iid 시퀀스 만든 후에 실행해 줘야 함 -->
	
	<insert id="insertImage">
		insert all
		<foreach collection="list" item="item" separator=" ">
			into image values(new_iid, seq_recipe.currval, #{item.imageURL}, #{item.imageName}, #{item.titleImg})
		</foreach>
		select * from dual
	</insert>
	
	<insert id="editImage">
		insert all
		<foreach collection="list" item="item" separator=" ">
			into image values(new_iid, #{item.recipeNo}, #{item.imageURL}, #{item.imageName}, #{item.titleImg})
		</foreach>
		select * from dual
	</insert>
	
	<update id="deleteRecipe">
		update board
		set status = 'N'
		where board_no = #{bId}
	</update>
	
	<delete id="deleteImage">
		delete image
		where recipe_no = #{recipeNo}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>